<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./ordercheck.css">
    <link rel="stylesheet" href="../admin/adminList.css">
    <title>주문조회페이지</title>
</head>
<body>
    <header>
        <a href="/" class="logo"><h3>readOnly📖</h3></a>
        <div id="pageRoute"></div>
    </header>

    <div class="container">
        <nav class="menu">
            <h4 id="category">카테고리</h4>
            <a href="/userInformation">사용자 정보</a>
            <a href="/mepasswordcheck">사용자 정보 수정</a>
            <a href="/ordercheck">주문조회</a>
        </nav>
        <main>
            <h2>주문 조회</h2>
            <table id="orderContainer"></table>
    </div>
    
    
<script src="./ordercheck.js"></script>
<script src="../frontUtils/jwtUtil.js"></script>
<script src="../frontUtils/loginStatus.js"></script> 
</body>
</html>