header {
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    background-color: rgb(62, 101, 65);
   
}

.search{
    justify-content: center;
    width: 300px;
    margin: auto;
}
.menu {
    width: 10%;
    background-color: rgb(220, 220, 220);
}

#category{
    font-size: 20px;
    letter-spacing: 4px;
    padding: 10px;
    border-bottom: 1.5px solid black;
    margin: 0px;

}

.menu a {
    text-decoration: none;
    letter-spacing: 2px;
    font-size:  15px;
    color: black;
    display: list-item;
    padding: 15px;

    
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;

}

input {
    width: 220px;
    height: 30px;

}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* 위쪽 여백 추가 */
}

/* 테이블 헤더 스타일 */
th {
    background-color: gainsboro;
    color: black;
    padding: 10px;
    text-align: center;
}

/* 테이블 데이터 셀 스타일 */
td {
    padding: 10px;
    text-align: center;
}

/* 짝수 행 배경색 변경 */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* 취소 버튼 스타일 */
#searchbutton {
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#backbody{
    margin-left: 200px;
}
#productInfo{
    width: 100%;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 2px solid #000;
}
#productInfo tr{
    border-bottom: 1px solid #d3d3d3;
}