header {
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
  border-bottom: 1px solid rgb(176, 176, 176);
  
}

#pageRoute {
  display: flex;
  gap: 20px;
}

.logo {
    color: rgb(16, 16, 160);
    font-size: 20px;
    font-style: italic;

}

.search{
  justify-content: center;
  text-align: center;
  width: 300px;
  margin: auto;

}

input {
  width: 240px;
  height: 33px;
  border: 1px solid;
  border-color: rgb(16, 16, 160);
  border-radius: 10px;

}

button {
  height: 35px;
}

#pageRoute {
  display: flex;
  gap: 20px;
}


.container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.menu {
  width: 10%;
  background-color: rgb(220, 220, 220);
  text-align: center;
}

#category{
  font-size: 20px;
  letter-spacing: 4px;
  padding: 10px;
  border-bottom: 2px solid black;
  margin: 0px;

}

.menu a {
  text-decoration: none;
  letter-spacing: 2px;
  font-size:  15px;
  color: black;
  display: list-item;
  padding: 15px;

  border-bottom: 0.5px solid black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 50px;
  gap: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.menuContainer {
  display: flex;
  background-color: rgb(234, 234, 234);
  width: 1000px;
  height: 150px;
  margin: 0 auto;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}