<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to our journey</title>
    <link rel="stylesheet" href="./title.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap" rel="stylesheet">
</head>

<body>
    <canvas id="hero-lightpass" />
    <!-- <main id="play_button">
        <div class="main_container scroll_container">
            <div class="background_container"></div>
            <a href="../mainpage/" class="logo">
                <h3><img src="../img/logo.svg" alt="로고"></h3>
            </a>
            <div class="right_container"></div>
            <div class="chapter1 agenda">Journey</div>
            <div class="chapter2 agenda">For</div>
            <div class="chapter3 agenda">New</div>
            <div class="chapter4 agenda">Chapter</div>
            <a href="../mainpage/" class="mainPage_btn">여정에 함께하기</a>
            <div class="text_contaniner">
                ReadOnly는 오롯이 책의 매력에 빠져 새로운 세계를 탐험하는 공간입니다.<br>
                페이지마다 펼쳐지는 다양한 이야기들이 당신의 상상력을 자극하고<br>
                감동을 주며 새로운 여정으로 당신을 이끕니다.<br>
                이곳에서 당신의 독서 여정은 단순한 행위가 아닌,<br>
                삶을 더 풍요롭게 만들어나가는 경험의 시작입니다.<br>
                <br>
                함께해요,<br>
                ReadOnly와 새로운 이야기를 만나러 떠나는 여정에. <span></span>
            </div>
        </div>
        <div class="sec_container scroll_container"></div>
        <div class="trd_container scroll_container"></div>
        <div class="fot_container scroll_container"></div>
    </main> -->
    <script src="./title.js"></script>
</body>

</html>