/* 스크롤바 */
body::-webkit-scrollbar {
  width: 8px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
  height: 25%; /* 스크롤바의 길이 */
  background: grey; /* 스크롤바의 색상 */
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(19, 19, 19, 0.1);  /*스크롤바 뒷 배경 색상*/
}

html {
  height: 100vh;
}

body {
  background-color: #000;
}

canvas {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  max-height: 100vh;
  z-index: 10;
  transition: 1.5s ease-in-out;
  opacity: 0;
}

/*main css*/ 
main{
  height: 600vh;
}

.main_container{
  background-color: black;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 11;
  opacity: 0;
}

a {
  text-decoration: none;
}

/*origin*/

.right_container {
  position: absolute;
  top: 0%;
  right: 0vmin;
  width: 0px;
  height: 0px;
  border-top: 100vh solid rgba(49, 49, 49, 0.85);
  border-left: 30vw solid transparent;
  border-right: 100vh solid rgba(49, 49, 49, 0.85);
  animation: fadeIn 1s 3s forwards linear alternate;
  opacity: 0;
  z-index: 2;
}

.mainPage_btn {
  opacity: 0;
  transition: 0.5s 6s ease-in;
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 22rem;
  height: 4rem;
  cursor: pointer;
  border-radius: 4px;
  border: 2px solid #fff;
  background-color: #000;
}

.text_contaniner {
  color: rgb(156, 156, 156);
  text-align: right;
  font-size: 3vmin;
  font-weight: bolder;
  position: absolute;
  top: 15%;
  left: 50%;
  width: auto;
  height: auto;
  animation: fadeIn 2s 4s forwards linear alternate;
  opacity: 0;
  z-index: 3;
}

.text_contaniner span::after {
  background-color: rgb(156, 156, 156);
  content: "";
  height: 1.5rem;
  font-size: 1.5rem;
  width: 3px;
  display: inline-block;
}

.logo {
  position: absolute;
  top: 2%;
  left: 2%;
  transition: 1s 5s ease-in;
  opacity: 0;
}

.logo h3 {
  width: 180px;
  height: 100%;
}

.logo img {
  width: 100%;
}

.agenda {
  color: white;
  font-size: 16vmin;
  font-weight: bolder;
  opacity: 0;
}

.chapter1 {
  position: absolute;
  top: 20%;
  left: 18%;
  z-index: 3;
  transition: 1s 1s ease-in;
}

.chapter2 {
  position: absolute;
  top: 20%;
  left: 53%;
  z-index: 3;
  transition: 1s 2s ease-in;
}

.chapter3 {
  position: absolute;
  top: 42%;
  left: 28%;
  z-index: 3;
  transition: 1s 3s ease-in;
}

.chapter4 {
  position: absolute;
  top: 42%;
  left: 50%;
  z-index: 3;
  transition: 1s 4s ease-in;
}
