<!-- 사용자 정보 페이지 html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>내 정보</title>
  <link rel="stylesheet" href="userInformation.css">
</head>
<body>
  <header>
    <a href="/"><h1 id="logo">Logo</h1></a>
  </header>
  <div class="content">
    <nav>
      <ul>
        <a href="/userInformation"><li>사용자 정보</li></a>
        <a href="/changeUserInformation"><li>사용자 정보 수정</li></a>
        <li>주문/배송 확인</li>
        <li>취소/반품/교환 확인</li>
      </ul>
    </nav>
    <main>
      <h1>회원정보 조회</h1>
      <div class="information">
        <div id="name" class="userInformation">
          <p>이름</p>
          <p id="nameValue" class="resData"></p>
        </div>
        <div id="email" class="userInformation">
          <p>이메일</p>
          <p id="emailValue" class="resData"></p>
        </div>
        <div id="phoneNumber" class="userInformation">
          <p>전화번호</p>
          <p id="phoneValue" class="resData"></p>
        </div>
        <div id="address" class="userInformation">
          <p>주소</p>
            <div class="addressDetail">
              <p id="postalCode" class="resData"></p>
              <p id="addressValue" class="resData"></p>
              <p id="addressDetailValue" class="resData"></p>
            </div>
        </div>
      </div>
      <div class="btns">
        <a href="/mepasswordcheck"><button class="changeBtn">수정하기</button></a>
        <p id="withdrawal">회원탈퇴</p>
      </div>
    </main>
  </div>

  <script src="userInformation.js"></script>
</body>
</html>