<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin/mainpage</title>
    <link rel="stylesheet" href="./adminUsers.css">
    <link rel="stylesheet" href="../admin/admin.css">

    
</head>

<body>
    <header>
        <a href="/" class="logo"><h3>Logo</h3></a>
        <!-- <div class="search">
            <input type="text" placeholder="도서를 찾아보세요!">
            <button>검색</button>
        </div> -->
        
        <a href="/admin" class="adminPage">관리자페이지</a>
        <a>|</a>
        <a href="/" class="logOut">로그아웃</a> 
    </header>
    
    <div class="content">
        <div class="menu">
            <h4 id="category">관리자</h4>
            <a href="/admin">주문현황</a>
            <a href="/adminUsers">회원관리</a>
            <a href="/admin">상품조회</a>
            <a href="/admin">상품등록</a>
            <a href="/admin">상품정보수정</a>
            <a href="/admin">상품삭제</a>
            <a href="/admin">카테고리등록</a>
            <a href="/admin">카테고리수정</a>
            <a href="/admin">카테고리삭제</a>
        </div>

        <main>
            <h2 class="title">회원 정보 조회</h2>
            <table id="userContainer"></table>
        </main>
    </div>


    <script src="../frontUtils/jwtUtil.js"></script>
    <script src="./adminUser.js"></script>
</body>
</html>