<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin/mainpage</title>
    <link rel="stylesheet" href="../components/header.css">
    <link rel="stylesheet" href="../admin/adminList.css">
    <link rel="stylesheet" href="../components/footer.css">
    <link rel="stylesheet" href="../admin/admin.css">

    
</head>

<body>
    <header>
        <a href="/" class="logo"><h3>readOnly📖</h3></a>
        <div id="pageRoute"></div>
    </header>
    
    <div class="content">
        <div class="menu">
            <h4 id="category">관리자</h4>
            <a href="/admin">상품조회</a>
            <a href="/adminProductRegistration">상품등록</a>
            <a href="/adminDeleteProduct">상품수정/삭제</a>
            <a href="/adminCategory">카테고리조회</a>
            <a href="/adminCategoryAdd">카테고리등록</a>
            <a href="/adminCategoryDelete">카테고리삭제</a>
            <a href="/adminUsers">회원관리</a>
            <a href="/adminorder">주문현황</a>
        </div>

        <main>
            <h2 class="title">회원 정보 조회</h2>
            <div class="listOverflow">
                <table id="userContainer"></table>
            </div>
        </main>
    </div>

    <footer>
        <h4 class="logo">readOnly</h4>
        <h5>회사명 : readOnly    대표자 : 엘리스8팀</h5>
        <h5>대표 이메일 : test@elice.com</h5>
        <h5>주소 : 서울특별시 성동구 성수2가 제3동 광나루로6길 49 성수낙낙</h5>
        <h5>Copyright ⓒ 2023 000</h5>
    </footer>

    <script src="../frontUtils/jwtUtil.js"></script>
    <script src="../frontUtils/loginStatus.js"></script> 
    <script src="./adminUser.js"></script>
</body>
</html>