/* category css */
.container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

main {
    width: 100%;
    padding: 10px 94px;
}

#bestseller-header h2, #newbook-header h2, #view-all-header h2{
    color: var(--main-color);
    font-size: 20px;
    font-weight: bold;
}

.section_wrap{
    + .section_wrap{
        margin-top: 68px;
    }
}

.book_wrap{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 24px;
    .imgWrap{
        width: 100%;
        height: 184px;
        overflow: hidden;
        + p{
            margin-top: 12px;
        }
    }
}

.book_wrap a{
    width: 124px;
    display: block;
}

.book_wrap p{
    font-size: 12px;
    font-weight: 500;
    color: var(--main-color);
}



/* 전체도서 */
.all_book_wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    gap: 25px;
    .imgWrap{
        width: 100%;
        height: 168px;
        overflow: hidden;
        + p{
            margin-top: 12px;
        }
    }

}

.all_book_wrap a{
    width: 118px;
    display: block;
}

.all_book_wrap p{
    font-size: 12px;
    font-weight: 500;
    color: var(--main-color);
}
.fw-bold{
    font-weight: bold!important;
}