/* main css */

a {
    text-decoration: none;
    color:rgb(16, 16, 160)
}

.logo {
    color: rgb(16, 16, 160);
    font-size: 20px;
    font-style: italic;

}

header {
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    border-bottom: 1px solid rgb(176, 176, 176);
   
}

.search{
    justify-content: center;
    width: 300px;
    margin: auto;
    text-align: center;
    
}

input {
    width: 240px;
    height: 33px;
    border: 1px solid;
    border-color: rgb(16, 16, 160);
    border-radius: 10px;

}

button {
    height: 35px;
}

.register {
    margin-right: 10px;
}

.cart {
    margin-left: 10px;
}



/* category css */
.body a {
    color: black;
    
}

.body {
    width: 90%;
    text-align: left;
    margin-left: 30px;
    /* margin-right: auto; */
}

h2 {
    color:rgb(16, 16, 160);
}

#bestseller, #newbook, #view-all {
    width: 100%;
    /* height: 40%; */
    
}




#bestseller-info a, #newbook-info a, #view-all-info a {
    width: 50%;
    height: 200px;
    float: left;
    margin-bottom: 30px;
   
}

.body h5 {
    margin-top: 5px;
    margin-bottom: 8px;
    vertical-align: text-top;
    font-size: 18px;
    
}

.body h6 {
    margin-top: 6px;
    margin-bottom: 6px;
    vertical-align: text-top;
    font-size: 15px;
}

.body p {
    margin-right: 15px;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space:nowrap; */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word; 
    line-height: 1.2em;
    height: 3.6em; 
}

img {
    width: 20%;
    float: left;
    margin-right: 10px;
    
}