<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>category/novel</title>
    <!-- <link rel="stylesheet" href="./mainpage.css"> -->
    <link rel="stylesheet" href="/components/sidebar.css">
    <link rel="stylesheet" href="/category/category.css">

</head>
<header>
    <a href="/mainpage/index.html" class="logo"><h3>Logo</h3></a>
    <div class="search">
        <input type="text" placeholder="도서를 찾아보세요!">
        <button>검색</button>
    </div>
    
    <a href="#register" class="register">회원가입</a>
    <!-- <p>|</p> -->
    <a href="log-in" class="log-in">로그인</a>
</header>
<body>
    <div class="sidebar">
        <div class="menu">
            <h4 id="category">카테고리</h4>
            <a href="#">소설</a>
            <a href="#">시/에세이</a>
            <a href="#">인문</a>
            <a href="#">가정/육아</a>
            <a href="#">요리</a>
            <a href="#">건강</a>
            <a href="#">취미/실용</a>
            <a href="#">경제/경영</a>
            <a href="#">자기계발</a>
            <a href="#">정치/사회</a>
        </div>
        <div class="body">
            <h2>소설 베스트셀러</h2>
            <a href="/select-item/index.html">
                <div class="bestseller-novel">
                    <img src="/mainpage/img/bestseller-novel1.jpeg">
                    <h5>도시와 그 불확실한 벽</h5>
                    <h6>무라카미 하루키</h6>
                    <h6>19,500원</h6>
                    <p>무라카미 하루키의 신작 장편소설 『도시와 그 불확실한 벽』은 집필과 출간에 얽힌 이야기가 특별하다. 
                        1979년 데뷔 이래, 하루키는 각종 문예지에 소설을 비롯한 다양한 글을 발표했고, 대부분 그...</p>
                </div>
            </a>
            <div class="bestseller-novel">
                <img src="/mainpage/img/bestseller-novel2.jpeg">
                <h5>아침 그리고 저녁</h5>
                <h6>욘 포세</h6>
                <h6>12,500원</h6>
                <p>2023년 노벨문학상 수상의 영예가 욘 포세에게 주어졌다. “입센의 재래” “21세기의 사뮈엘 베케트”라 불리는 노르웨이 작가 욘 포세는 오늘날 세계에서 가장 널리 활동하는 극작가 중 한 명으로 현대 연극의 최전선을 이끌고 있다는 평가를 받아왔다. 희곡 외에도 소설, 시, 에세이, 그림책, 번역에 이르기까지 다양한 장르를 넘나들며 방대한 작품을 써왔고 세계 40여개 이상의 언어로 번역되어...</p>
            </div>
            <h2>소설 신간</h2>
            <div class="bestseller-novel">
                <img src="/mainpage/img/bestseller-novel3.jpeg">
                <h5>모순</h5>
                <h6>양귀자</h6>
                <h6>13,000원</h6>
                <p>양귀자 소설의 힘을 보여준 베스트셀러 『모순』. 1998년에 초판이 출간된 이후 132쇄를 찍으며 여전히 많은 사랑을 받고 있는 작품을, 오래도록 소장할 수 있는 양장본으로 새롭게 선보인다. 스물다섯 살 미혼여성 안진진을 통해 모순으로 가득한 우리의 인생을 들여다본다. 작가 특유의 섬세한 문장들로 여러 인물들의 삶을 생생하게 그려내고 있다.</p>
            </div>
            <div class="bestseller-novel">
                <img src="/mainpage/img/bestseller-novel3.jpeg">
                <h5>모순</h5>
                <h6>양귀자</h6>
                <h6>13,000원</h6>
                <p>양귀자 소설의 힘을 보여준 베스트셀러 『모순』. 1998년에 초판이 출간된 이후 132쇄를 찍으며 여전히 많은 사랑을 받고 있는 작품을, 오래도록 소장할 수 있는 양장본으로 새롭게 선보인다. 스물다섯 살 미혼여성 안진진을 통해 모순으로 가득한 우리의 인생을 들여다본다. 작가 특유의 섬세한 문장들로 여러 인물들의 삶을 생생하게 그려내고 있다.</p>
            </div>
            
            <h2>소설 전체보기</h2>
            <img src="">
        </div>
    </div>
</body>
</html>