<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReadOnly</title>
    <!-- <link rel="stylesheet" href="../mainpage/mainpage.css"> -->
    <link rel="stylesheet" href="../style/default.css">
</head>

<body>
    <div class="wrapper">
        <div class="content-wrap">
            <header>
                <div class="logo_container">
                    <h1>
                        <a href="./index.html"><img src="../img/logo2.svg" alt="로고"></a>
                    </h1>
                </div>
                <div class="search_container">
                    <input class="search_input" 
                    placeholder="Search by author, title, name" onfocus="this.placeholder=''"
                    onblur="this.placeholder='Search by author, title, name'" />
                    <img class="search_icon" src="./img/search_icon.svg" />
                </div>
                <div class="gnb_container">
                    <div class="user_icon">
                        <img src="./img/ico-mypage.svg" />
                    </div>
                    <div class="user_icon">
                        <img src="./img/ico-cart.svg" />
                    </div>
                    <div class="user_icon">                    
                        <img src="./img/ico-instagram.svg" />
                    </div>
                </div>
            </header>

            <div class="nav_container">
                <nav class="nav">
                    <ul class="nav_list">
                        <li class="nav_item active">
                            <a href="#">Home</a>
                        </li>
                        <li class="nav_item">
                            <a href="#">Bestseller</a>
                        </li>
                        <li class="nav_item">
                            <a href="#">Category</a>
                        </li>
                        <li class="nav_item">
                            <a href="#">Offline</a>
                        </li>
                        <li class="nav_item">
                            <a href="#">Blog</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <section>
                <div class="banner_container">
                    <div class="banner_wrap">
                        <img class="banner_img" src="./img/main_color_img.jpg" />
                    </div>
                    <div class="text_container">
                        <h2 class="banner_h2">Build your library</h2>
                        <p class="banner_p">Journey for new chapter</p>
                        <div class="viewall_btn">View all</div>
                    </div>
                </div>
                <div class="direct_container">
                    <div id="main-body">
                        <div class="this-week-bestseller">
                            <div class='now_container'>
                                <p>Popular Now</p>
                                <div>View All</div>
                            </div>
                            <div id="weekbestseller-info"></div>
                        </div>
    
                        <div class="category-wrap">
                            <div class="category_container">
                                <div id="category-wrapper"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="footer">
                <div class="footer_info_wrap">
                    //내용 
                </div>
            </div>
            
        </div>
    </div>

    <script src="../frontUtils/jwtUtil.js"></script>
    <script src="../frontUtils/loginStatus.js"></script>
    <script src="../mainpage/mainpage.js"></script>
</body>

</html>