<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainPage</title>
    <link rel="stylesheet" href="../mainpage/mainpage.css">
    <link rel="stylesheet" href="../components/footer.css">
    <link rel="stylesheet" href="../components/header.css">
</head>

<body>
    <header>
        <a href="/" class="logo"><h3>readOnly📖</h3></a>
        <div class="search">
            <input type="text" placeholder="도서를 찾아보세요!">
            <button>검색</button>
        </div>
        <div id="pageRoute"></div>    
    </header>

    <div id="main-body">
        <div class="category-wrap">
            <h4>카테고리</h4>
            <div id="category-wrapper"></div>
        </div>
        
        <div class="this-week-bestseller">
            <h4 id="weekbestseller-header">이번 주의 베스트셀러</h4>
                <div id="weekbestseller-section">
                    <div id="weekbestseller-info"></div>
                </div>
            </div>  
    </div>

    <footer>
        <h4 class="logo">readOnly</h4>
        <h5>회사명 : readOnly    대표자 : 엘리스8팀</h5>
        <h5>대표 이메일 : test@elice.com</h5>
        <h5>주소 : 서울특별시 성동구 성수2가 제3동 광나루로6길 49 성수낙낙</h5>
        <h5>Copyright ⓒ 2023 000</h5>
    </footer>
    
    
    <script src="../frontUtils/jwtUtil.js"></script>
    <script src="../frontUtils/loginStatus.js"></script> 
    <script src="./mainpage/mainpage.js"></script> 
</body>

</html>