header a {
    text-decoration: none;
    color:rgb(16, 16, 160);
    

}

#category-wrapper {
    margin: auto;
}

#category-wrapper a {
    color: black;
    text-decoration: none;
    margin-right: 20px;

}

.logo {
    color: rgb(16, 16, 160);
    font-size: 20px;
    font-style: italic;

}

header {
    display: flex;
    /* width: 100%; */
    justify-content: space-between;

    border-bottom: 1px solid rgb(176, 176, 176);
   
}

.search{
    justify-content: center;
    text-align: center;
    width: 300px;
    margin: auto;

}

input {
    width: 240px;
    height: 33px;
    border: 1px solid;
    border-color: rgb(16, 16, 160);
    border-radius: 10px;

}

button {
    height: 35px;
}

.register {
    margin-right: 10px;
}

.cart {
    margin-left: 10px;
}

.category-wrap {
    background-color: rgb(234, 234, 234);
    
    /* width: 85%; */
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 20px;
    
}


.category {
    float: left;
    text-align: center;

}
.category-wrap> h4 {
    text-align: center;
    margin-bottom: 40px;
}

.category > li {
    display: inline-block;
    text-align: center;
   
}
/* .category > ul {
    width: 85%;
    float: left;
    text-align: center;
    /* margin-left: auto;
    margin-right: auto; */
    /* margin: 0 auto; */
  



.category > a {
    float: left;
    text-decoration: none;
    color: black;
    width: 20%;
    margin-bottom: 30px;
    /* text-align: center; */
    /* margin-right: 50px; */
    
         
}


/* 카테고리 css 끝  */




.this-week-bestseller {
    /* border: black;
    border-style: solid; */
    border-width: 90%;
    width: 90%;
    height: 80vh;
    margin: auto;
    
}

.this-week-bestseller > h4 {
    text-align: center;
}

.this-week-bestseller-section{
    width: 90%;
    margin: auto;
}

img {
    width: 230px;
    height: 260px;
    object-fit: contain;
    
    
}

.this-week-bestseller-info {
    float: left;
    width: 18%;
    margin-right: 20px;
    text-align: center;
}

.this-week-bestseller-info h5 {
    font-size: 16px;
    margin-bottom: 12px;
}

.this-week-bestseller-info h6 {
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 5px;
}