<!-- 로그인 페이지 html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인</title>
  <link rel="stylesheet" href="nonmemberLogin.css">
</head>
<body>
  <form>
    <div class="whetherMember">
      <a href="index.html"><p class="member">회원 로그인</p></a>
      <a href="nonmemberLogin.html"><p class="nonMember">비회원 주문 조회</p></a>
    </div>
    <div class="loginInput">
      <input type="text" placeholder="주문번호" class="">
      <input type="password" placeholder="주문 비밀번호">
    </div>
    <button class="loginBtn">로그인</button>
    <div class="find">
      <!-- <p><a href="">주문번호 찾기</a> / <a href="">주문 비밀번호 찾기</a></p> -->
      <p><a href="../join/index.html">회원가입</a></p>
    </div>
  </form>
</body>
</html>