<!-- 이미 가입된 이메일 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Already</title>
  <link rel="stylesheet" href="joinOverlap.css">
</head>
<body>
  <header>
    <a href="/" class="logo"><h3><img src="../img/logo.svg" alt="로고"></h3></a>
  </header>
  <main>
    <h1>이미 가입된 이메일입니다</h1>
    <div class="move">
      <a href="/login"><p>로그인하러 가기</p></a>
      <a href="/join"><p>다른 이메일로 회원가입하러 가기</p></a>
    </div>
  </main>
  

</body>
</html>