header {
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    border-bottom: 1px solid rgb(176, 176, 176);
    
}

header a {
    text-decoration: none;
    color: rgb(16, 16, 160);
}


#pageRoute {
    display: flex;
    gap: 20px;
}

.logo {
color: rgb(16, 16, 160);
font-size: 20px;
font-style: italic;
}

.content {
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;

}

.menu {
    width: 10%;
    background-color: rgb(220, 220, 220);

}

.menu a {
    text-decoration: none;
    letter-spacing: 2px;
    font-size:  15px;
    color: black;
    display: list-item;
    padding: 15px;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;

}

#category{
    font-size: 18px;
    letter-spacing: 4px;
    padding: 10px;
    border-bottom: 1.5px solid black;
    margin: 0px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 50px;
}
