<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>order</title>
		<link rel="stylesheet" href="order.css" />
	</head>
	<body>
		<div class="wrap">
			<header></header>
			<main>
				<div class="mainWrap">
					<div class="mainHead">
						<div class="mainHeadText">
							<h4>주문완료</h4>
						</div>
						<div class="mainHeadTextInfo">
							<h2>고객님의 주문이 정상적으로 완료되었습니다.</h2>
						</div>
					</div>
					<div class="cartInfo">
						<div class="cartInfoHead">
							<div class="cartInfoHead_text"><h4>상품정보</h4></div>
							<div class="cartInfoHead_table">
								<div class="tableName">상품명</div>
								<div class="tablePrice">상품금액</div>
								<div class="tableAmount">수량</div>
								<div class="tableSum">주문금액</div>
							</div>
						</div>
						<div class="cartInfo_products">
							<div class="productCard">
								<div class="imgName">
									<div class="productImg">
										<!-- <img
											src="../cart/thisweekbestseller1.jpeg"
											class="cartImg" /> -->
									</div>
									<div class="productName">개미3</div>
								</div>
								<div class="productPrice">15000원</div>
								<div class="productAmount">1</div>
								<div class="productTotalPrice">15000원</div>
							</div>
							<div class="productCard">
								<div class="imgName">
									<div class="productImg">
										<!-- <img
											src="../cart/thisweekbestseller1.jpeg"
											class="cartImg" /> -->
									</div>
									<div class="productName">개미3</div>
								</div>
								<div class="productPrice">15000원</div>
								<div class="productAmount">1</div>
								<div class="productTotalPrice">15000원</div>
							</div>
							<div class="productCard">
								<div class="imgName">
									<div class="productImg">
										<!-- <img
											src="../cart/thisweekbestseller1.jpeg"
											class="cartImg" /> -->
									</div>
									<div class="productName">개미3</div>
								</div>
								<div class="productPrice">15000원</div>
								<div class="productAmount">1</div>
								<div class="productTotalPrice">15000원</div>
							</div>
							<div class="productCard">
								<div class="imgName">
									<div class="productImg">
										<!-- <img
											src="../cart/thisweekbestseller1.jpeg"
											class="cartImg" /> -->
									</div>
									<div class="productName">개미3</div>
								</div>
								<div class="productPrice">15000원</div>
								<div class="productAmount">1</div>
								<div class="productTotalPrice">15000원</div>
							</div>
							<div class="productCard">
								<div class="imgName">
									<div class="productImg">
										<!-- <img
											src="../cart/thisweekbestseller1.jpeg"
											class="cartImg" /> -->
									</div>
									<div class="productName">개미3</div>
								</div>
								<div class="productPrice">15000원</div>
								<div class="productAmount">1</div>
								<div class="productTotalPrice">15000원</div>
							</div>
						</div>
					</div>
					<div class="dataDiv">
						<div class="orderInfo">
							<div class="orderInfoHeader">주문정보</div>
							<div class="orderData">
								<div class="orderData_number">주문번호</div>
								<div class="orderData_pay">결제방법</div>
								<div class="orderData_namePhone">주문자/연락처</div>
								<div class="orderData_sumPrice">총 결제금액 0원</div>
							</div>
						</div>
						<div class="userInfo">
							<div class="userInfoHeader">배송정보</div>
							<div class="userData">
								<div class="userData_name">수취인</div>
								<div class="userData_phone">연락처</div>
								<div class="userData_address">배송지주소</div>
								<div class="orderInfo_sumPrice">주문자정보</div>
							</div>
						</div>
					</div>
				</div>
			</main>
			<footer></footer>
		</div>
		<script src="order.js"></script>
	</body>
</html>
