<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>order</title>
		<link rel="stylesheet" href="order.css" />
		<!-- <link rel="stylesheet" href="../components/header.css" /> -->
	</head>
	<body>
		<div class="wrap">
			<header>
				<a href="/" class="logo"
					><h3><img src="../img/logo.svg" alt="로고" /></h3
				></a>
				<div class="search">
					<input type="text" placeholder="도서를 찾아보세요!" />
					<button>검색</button>
				</div>
				<div id="pageRoute"></div>
			</header>
			<main>
				<div class="mainWrap">
					<div class="mainHead">
						<div class="mainHeadText">
							<h4>주문완료</h4>
						</div>
						<div class="mainHeadTextInfo">
							<h2>고객님의 주문이 정상적으로 완료되었습니다.</h2>
						</div>
					</div>
					<div class="cartInfo">
						<div class="cartInfoHead">
							<div class="cartInfoHead_text">
								<p>상품정보</p>
							</div>
						</div>
						<div class="cartInfo_products">
							<div class="cartInfoHead_table">
								<div class="tableName">상품명</div>
								<div class="tableAmount">수량</div>
								<div class="tableSum">주문금액</div>
							</div>
						</div>
						<div class="cart_bot_container">
							<div class="totalPirce_container">
							</div>
							<div class="toNext_container">
								<div class="myPage_btn">
									<a href="/">마이페이지</a>
								</div>
								<div class="mainPage_btn">
									<a href="/">메인페이지</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer></footer>
	</div>
	<script src="order.js"></script>
	<script src="../frontUtils/jwtUtil.js"></script>
	<script src="../frontUtils/loginStatus.js"></script>
</body>

</html>