body {
	margin: 0;
}
.wrap {
	height: 100vh;
}
header {
	min-height: 10%;
	height: 10%;
	border-bottom: 1px solid grey;
	background-color: antiquewhite;
}
main {
	height: 90%;
	min-width: none;
	min-height: 80%;
	border-bottom: 1px solid grey;
	padding-left: 5%;
	padding-right: 5%;
	background-color: aliceblue;
	display: flex;
	justify-content: center;
}
.mainWrap {
	width: 95%;
	min-height: 100%;
	/* background-color: brown; */
}
.mainHead {
	width: 100%;
	height: 15%;
	background-color: bisque;
}
.mainHeadText {
	width: 100%;
	height: 20%;
	border-bottom: 1px solid grey;
	display: flex;
	align-items: center;
}
.mainHeadTextInfo {
	width: 100%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.cartInfo {
	width: 100%;
	height: 65%;
	/* background-color: cadetblue; */
}
.cartInfoHead {
	width: 100%;
	height: 20%;
	/* border-bottom: 1px solid grey; */
	display: flex;
	flex-direction: column;
	/* align-items: center; */
}
.cartInfoHead_text {
	width: 100%;
	height: 40%;
	border-bottom: 2px solid grey;
	display: flex;
	align-items: center;
}
.cartInfoHead_table {
	width: 100%;
	height: 60%;
	background-color: aliceblue;
	display: flex;
}
.cartInfo_products {
	width: 100%;
	height: 80%;
	/* background-color: rosybrown; */
	overflow: scroll;
}
.productCard {
	width: 100%;
	height: 30%;
	background-color: red;
	display: flex;
	border-bottom: 1px solid grey;
}
.imgName {
	width: 50%;
	height: 100%;
	background-color: blue;
	border-right: 1px solid grey;
	display: flex;
}
.productImg {
	width: 20%;
	height: 100%;
	background-color: azure;
}
.productName {
	width: 80%;
	height: 100%;
	background-color: aliceblue;
}
.productPrice {
	width: 15%;
	height: 100%;
	background-color: wheat;
	border-right: 1px solid grey;
}
.productAmount {
	width: 15%;
	height: 100%;
	background-color: wheat;
	border-right: 1px solid grey;
}
.productTotalPrice {
	width: 20%;
	height: 100%;
	background-color: aqua;
}

.tableName {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100%;
	border-right: 1px solid grey;
}
.tablePrice {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15%;
	height: 100%;
	border-right: 1px solid grey;
}
.tableAmount {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15%;
	height: 100%;
	border-right: 1px solid grey;
}
.tableSum {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20%;
	height: 100%;
	border-right: 1px solid grey;
}
.dataDiv {
	width: 100%;
	height: 20%;
	display: flex;
}
.orderInfo {
	width: 50%;
	height: 100%;
	background-color: blanchedalmond;
	border-top: 1px solid grey;
}
.userInfo {
	width: 50%;
	height: 100%;
	background-color: red;
}
.orderInfoHeader {
	width: 100%;
	height: 20%;
	border-bottom: 2px solid grey;
	display: flex;
	align-items: center;
}
.orderData {
	width: 100%;
	height: 80%;
}
.orderData_number {
	width: 100%;
	height: 25%;
	border-bottom: 1px solid grey;
	display: flex;
	align-items: center;
}
.orderData_pay {
	width: 100%;
	height: 25%;
	border-bottom: 1px solid grey;
	display: flex;
	align-items: center;
}
.orderData_namePhone {
	width: 100%;
	height: 25%;
	border-bottom: 1px solid grey;
	display: flex;
	align-items: center;
}
.orderData_sumPrice {
	width: 100%;
	height: 25%;
	border-bottom: 1px solid grey;
	display: flex;
	align-items: center;
}
.userInfoHeader {
	width: 100%;
	height: 20%;
	border-bottom: 2px solid grey;
	display: flex;
	align-items: center;
}
.userData {
	width: 100%;
	height: 80%;
}
.userData_name {
	width: 100%;
	height: 25%;
	border-bottom: 1px solid grey;
	display: flex;
	align-items: center;
}
.userData_phone {
	width: 100%;
	height: 25%;
	border-bottom: 1px solid grey;
	display: flex;
	align-items: center;
}
.userData_address {
	width: 100%;
	height: 25%;
	border-bottom: 1px solid grey;
	display: flex;
	align-items: center;
}
.orderInfo_sumPrice {
	width: 100%;
	height: 25%;
	border-bottom: 1px solid grey;
	display: flex;
	align-items: center;
}
