header a {
	text-decoration: none;
	color: rgb(16, 16, 160);
}

.logo {
	color: rgb(16, 16, 160);
	font-size: 20px;
	font-style: italic;
}

header {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgb(176, 176, 176);
	background-color: white;

	/* 헤더 상단고정
	width: 100%;
    position: fixed;
    top: 0;
    z-index: 100; */
}

.search {
	justify-content: center;
	text-align: center;
	width: 300px;
	margin: auto;
}

input {
	width: 240px;
	height: 33px;
	border: 1px solid;
	border-color: rgb(16, 16, 160);
	border-radius: 10px;
}

button {
	height: 35px;
}

#pageRoute {
	display: flex;
	gap: 12px;
	margin-top: 10px;
	margin-right: 20px;
}

body {
	margin: 0;
}
.wrap {
	height: 100vh;
}

main {
	height: 90%;
	min-width: none;
	min-height: 80%;
	margin-bottom: 5%;
	padding-left: 5%;
	padding-right: 5%;
	display: flex;
	justify-content: center;
}
.mainWrap {
	width: 95%;
	min-height: 100%;
}
.mainHead {
	width: 100%;
	height: 15%;
	margin-bottom: 1rem;
}
.mainHeadText {
	width: 100%;
	height: 30%;
	border-bottom: 3px solid rgb(16, 16, 160);
	display: flex;
	align-items: center;
}
.mainHeadTextInfo {
	width: 100%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.info_container{
	display: flex;
}
.cartInfo {
	width: 50%;
	height: 100%;
	padding: 0 1rem;
}
.cartInfoHead {
	width: 100%;
	height: 20%;
	display: flex;
	flex-direction: column;
}
.cartInfoHead_text {
	width: 100%;
	height: 40%;
	border-bottom: 2px solid grey;
	display: flex;
	align-items: center;
}
.cartInfoHead_table {
	width: 100%;
	height: 10%;
	display: flex;
}
.cartInfo_products {
	width: 100%;
	height: 20rem;
	overflow: scroll;
}
.productCard {
	width: 100%;
	height: 30%;
	display: flex;
	border-bottom: 1px solid grey;
}
.imgName {
	width: 85%;
	height: 100%;
	border-right: 1px solid grey;
	display: flex;
}
.productImg {
	width: 20%;
	height: 100%;
	margin-right: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.cartImg {
	width: 90%;
	height: 90%;
	object-fit: contain;
}
.product_container{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.productName {
	padding: 0.6rem 0;
	font-size: 17px;
	height: 100%;
	align-items: center;
}
.productAuthor {
	font-size: 12px;
	height: 100%;
	align-items: center;
	color:grey;
}
.productPrice {
	font-size: 12px;
	height: 100%;
	justify-content: right;
	color:grey;
}
.productAmount {
	width: 10%;
	height: 100%;
	border-right: 1px solid grey;
	display: flex;
	justify-content: center;
	align-items: center;
}
.productTotalPrice {
	width: 15%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tableName {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 85%;
	height: 100%;
	border-right: 1px solid grey;
	border-bottom: 1px solid grey;
}
.tableAmount {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10%;
	height: 100%;
	border-right: 1px solid grey;
	border-bottom: 1px solid grey;
}
.tableSum {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15%;
	height: 100%;
	border-bottom: 1px solid grey;
}
.dataDiv {
	width: 50%;
	display: flex;
	flex-direction: column;
	padding: 0 1rem;
	align-items: center;
}
.orderInfo {
	padding-top: 2rem;
	width: 80%;
	height: 100%;
}

.userInfo {
	width: 80%;
	height: auto;
}

.orderInfoHeader {
	width: 80%;
}
.orderData_container{
	width: 100%;
	height: 80%;
	text-align: center;
}
.orderData_number {
	font-size: 2rem;
	width: 100%;
	padding-bottom: 2rem;
}
.orderData_pay {
	width: 100%;
}
.orderData_namePhone {
	width: 100%;
}
.orderData_sumPrice {
	width: 100%;
}

.userInfoHeader {
	width: 100%;
}
.userData_list{
	text-align: center;
	padding: 0 1rem;
	text-align: -webkit-center;
}
.user{
	padding: 0.3rem;
}
.userData {
	width: 100%;
	height: 100%;
	justify-content: center;
}
.userData_name {
	width: 30%;
	height: 25%;
	border-bottom: 1px solid lightgrey;
}
.userData_phone {
	width: 30%;
	height: 25%;
	border-bottom: 1px solid lightgrey;
}
.userData_address {
	width: 100%;
	height: 25%;
}
.orderInfo_sumPrice {
	width: 100%;
	height: 25%;
}

.accountInfo{
	width: 80%;
	padding-bottom: 2rem;
}
.account_data_container{
	display: flex;
	justify-content: center;
}
.account_list{
	text-align: center;
	border-right: 1px solid lightgrey;
	padding: 0 1rem;
}
.account_data{
	text-align: center;
	padding: 0 1rem;
}
.account{
	padding: 0.3rem;
}

p{
	font-size: 17px;
	font-weight: bold;
}

.cart_bot_container{
	display: flex;
}
.totalPirce_container{
	margin-top: 2rem;
	border: 1px solid rgb(219, 219, 219);
	background-color: rgb(219, 219, 219);
	width: 50%;
	height: 10rem;
}
.toNext_container{
	margin-top: 2rem;
	width: 50%;
	height: 10rem;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.myPage_btn{	
	align-items: center;
	font-weight: bold;
	font-size: 18px;
	color: black;
	margin-bottom: 1rem;
	width: 80%;
	height: 3.5rem;	
	border-radius: 4px;
	cursor: pointer;
	border: 1px solid rgb(236, 236, 236);
	background-color: rgb(236, 236, 236);
	&:hover {
		border-color: rgb(218, 218, 218);
		background-color: rgb(218, 218, 218);
	}
}
.mainPage_btn{
	align-items: center;
	font-weight: bold;
	font-size: 18px;
	color: white;
	width: 80%;
	height: 3.5rem;
	border-radius: 4px;
	cursor: pointer;
	border: 1px solid rgb(16, 16, 160);
	background-color: rgb(16, 16, 160);
	&:hover {
		border-color: rgb(12, 12, 105);
		background-color: rgb(12, 12, 105);
	}
}


