/* Root */
:root {	
	--main-color: #143b4c;
	--sub-color: #01d3c6;
	--gra-color: #7bac75;
}

/* Html */
html{
    font-size: 15px;
}
body{
    min-width: 1080px;
}

/* Wrapper */
.wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1.5rem 0;
	background: linear-gradient(135deg, var(--main-color), var(--main-color), var(--gra-color));
	background-color: var(--main-color);
}
.content-wrap{
	display: flex;
	flex-direction: column;
	height: 95%;
	width: 90%;
	border-radius: 2rem;
	background-color: #fff;
}

/* Header */
header{
	justify-content: space-between;
	display: flex;
	height: 2.5rem;
	padding: 2.5rem 2.5rem 0 2.5rem;
}
.logo_container{
    display: flex;
    align-items: center;
    width: 10rem;
}
.logo_container h1 {
    width: 100%;
}
.logo_container h1 a{
    display: block;
    width: 100%;
}
.gnb_container{
	display: flex;
	width: 10rem;
    justify-content: space-around;
}
.user_icon{
    width: 2.5rem;
    cursor: pointer;
}
.search_container{
	align-items: center;
	text-align: center;
	justify-content: center;
	display: flex;
	width: 40rem;
	height: 2.8rem;
	border-radius: 4px;
	background-color: rgb(245, 245, 245);
}
.search_input{
	font-size: 1.2rem;
	width:34rem;
	height: 2rem;
	padding-left: 2rem;
	border: none;
	background-color: transparent;
	&:focus{
		outline:none;
	}
}
.search_icon{
	height: 2rem;
	width: 2rem;
	padding-right: 1rem;
}

/* Nav */
.nav_container{
    position: relative;
}
.nav{
	display: flex;
    justify-content: center;
	align-items: center;
	margin: 1rem 0;
}
.nav_list{
	display: flex;
    padding: 2rem 0;
}
.nav_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.5rem;
    &:hover a{
        cursor: pointer;
        color: var(--sub-color);
    }
    &:hover::after{
        background-color: var(--sub-color);
		display: block;
    }
}

.nav_item a{
    color: grey;
    font-weight: bold;
    font-size: 1rem;
}

.nav_item::after{
    content: "";
    width: 0.35rem;
    height: 0.35rem;
    margin-top: 0.5rem;
    border-radius: 100%;
    background-color: grey;
	display: none;
}

.nav_list .active::after{
    background-color: var(--sub-color);
	display: block;
}

.nav_list .active a{
    color: var(--sub-color);
}

/* 카테고리 드로워 예외처리 */
.category_btn{
    color: grey;
    font-weight: bold;
    font-size: 1rem;
	background-color: #fff;
	border: none;
	&:hover{
        cursor: pointer;
        color: var(--sub-color);
    }
}
.nav_list :nth-child(3){
	&:hover::after{
		display: none;
	}
	&:hover .category_drawer a{
		color: grey;
	}
}
.nav_list :nth-child(3) .category_drawer a:hover{
	color: var(--sub-color);
}

.category_drawer{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	visibility: hidden;
	opacity: 0;
}

.category_list {
	position: absolute;
	text-align: center;
	width: 8rem;
	margin-top: 2rem;
	padding-top: 1.5rem;
	background-color: white;
	border-radius: 0.5rem;
	border: solid 1px grey;
}

.category_list div {
	padding: 0.8rem 1rem;
	&:hover a {
		color: #01d3c6;
	}
}

.category_list a {
	font-weight: bold;
	font-size: 1rem;
	color: grey;
	text-decoration: none;
}