.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;
}

.productInput {
    display: flex;
    gap: 30px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

#categoryNameValue {
    width: 250px;
    height: 30px;
    border: 1px solid #000000;
    border-radius: 10px;
    
}

button {
    width: 120px;
    height: 45px;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 30px;
}

