<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>select-item</title>
		<link rel="stylesheet" href="../components/sidebar.css" />
		<link rel="stylesheet" href="../components/header.css" />
		<link rel="stylesheet" href="./select-item.css" />
	</head>

	<body>
		<header>
			<a href="/" class="logo"><h3>readOnly</h3></a>
			<div class="search">
				<input type="text" placeholder="도서를 찾아보세요!" />
				<button>검색</button>
			</div>

			<a href="../join/index.html" class="register">회원가입</a>

			<a href="../login/index.html" class="log-in">로그인</a>

			<a href="../cart/index.html" class="cart">장바구니</a>
		</header>

		<div class="sidebar">
			<div class="menu">
				<h4 id="category">카테고리</h4>
				<div id="category-wrapper"></div>
			</div>
			<div class="body">
				<div class="selected-item-info">
					<img class="imgInsert" src="../img/bestseller-novel1.jpeg" />
					<h4 class="categoryInsert"></h4>
					<!-- 추후에 "소설"부분은 해당 카데고리별로 자동으로 가져올 수 있도록 코드 수정 필요-->
					<h3 class="booknameInsert"></h3>
					<h5 class="bookAuthor"></h5>
					<h5 class="bookPrice"></h5>
					<p class="productInfo"></p>
					<button class="addBtn">장바구니 추가</button>
					<button class="buyBtn">바로구매</button>
				</div>
			</div>
		</div>

		<script src="select-item.js"></script>
	</body>
</html>
