button{
	border: 0;
	background-color: rgb(16, 16, 160);
	border-radius: 4px;
	color : #fff;
	cursor: pointer;
	&:hover {
		color: white;
		border-color: rgb(16, 16, 160);
		background-color: rgb(16, 16, 160);
	}
}

.container {
	/* padding-top: 75.8px; */
	display: flex;
	justify-content: flex-start;
	/* justify-content: space-between; */
}

main {
	width: 90%;
	padding-top: 60px;
}

.body {
	width: 90%;
	text-align: left;
	margin-left: 30px;
	margin-right: 50px;
}

.selected-item-info {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	/* float: left; */
	margin: auto;
	margin-top: 20px;
	margin-right: 100px;
	padding: 50px;
	/* background-color: red; */
	/* border: 1px solid; */
	background-color: rgb(247 250 253);
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgb(228 234 240);
}

.box{
	display: flex;
	+ .box {
		margin-top: 50px;
	}
}
.bookImg{
	width: 250px;
	height: 350px;
	overflow: hidden;
    box-shadow: 5px 5px 5px rgb(200 200 200);
	+ .bookInfo{
		margin-left: 100px;
	}
}

.bookInfo{
	width: 400px;
	padding-bottom: 40px;
}
img {
	width: 100%;
	/* width: 250px;
	height: 350px;
	float: left;
	margin-right: 15px; */
}

.selected-item-info button {
	width: 120px;
	height: 40px;
}

.categoryInsert{
	font-size: 13px;
	font-weight: lighter;
}

.infoTitle span{
	font-size: 20px;
}

.infoBody{
	width: 60%;
}

