button{
	border: 0;
	background-color: rgb(16, 16, 160);
	border-radius: 4px;
	color : #fff;
	cursor: pointer;
	&:hover {
		color: white;
		border-color: rgb(16, 16, 160);
		background-color: rgb(16, 16, 160);
	}
}

.container {
	display: flex;
	justify-content: space-between;
}

main {
	width: 100%;
	padding-top: 60px;
}

.body {
	width: 90%;
	text-align: left;
	margin-left: 30px;
	/* margin-right: auto; */
}

.selected-item-info {
	width: 70%;
	/* float: left; */
	margin: auto;
	margin-top: 80px;
	/* background-color: red; */
	/* border: 1px solid; */
}

img {
	width: 250px;
	height: 350px;
	float: left;
	margin-right: 15px;
}

.selected-item-info button {
	width: 120px;
	height: 40px;
}

.productInfo {
	/* width: 500px; */
	height: 200px;
	/* resize: none; */
	/* border: 1px solid; */
}
