<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니</title>
    <link rel="stylesheet" href="cart.css"></link>
</head>
<body>
    <div class="wrap">
        <header>
            testbutton
            <button class="setlocal">localstoregy초기화</button>
            <button class="addbook">장바구니 담기</button>
            <!-- <button class="removeall">전체삭제</button> -->
            <button class="test">chagepricetest</button>
        </header>
        <main>
            <div class="main_label">
                <h4>장바구니</h4>
                <a class="removeall">장바구니 비우기</a>
            </div>
            <div class="cartdiv">
                <div class="cart_product">
                    
                    <!--css 용으로 나둠 이곳에 장바구니 하나씩 들어온다-->
                    <!-- <div class="cart_card">
                        <div class="card_imgDiv">
                            <div>사진</div>
                        </div>
                        <div class="card_namePrice">
                            <div class="bookname">짱구</div>
                            <div class="bookprice">17000원</div>
                        </div>
                        <div class="card_cntPrice">
                            <div class="book_totalPrice">34000원</div>
                            <div class="book_cntbtn">
                                <button class="plusbtn">-</button>
                                <div class="countvalue">5</div>
                                <button class="minusbtn">+</button>
                            </div>
                        </div>
                        <div class="card_del">
                            <button class='carddelete'>삭제</button>
                        </div>
                    </div> -->
                    
                </div>
                <div class="pay_div">
                    <div class="borderdiv">
                        <div class="totalpricediv">
                            <h3>결제 예정 금액</h3>
                            <h3 class="totalprice">6000원</h5>
                        </div>
                        <div class="pay_btn">
                            <a class="orderbtn">주문하기</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- <footer>
        </footer> -->
    </div>
    <script src="../config/url_path.js"></script>
    <script src="cart.js"></script>
</body>
</html>