<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니</title>
    <link rel="stylesheet" href="cart.css"></link>
</head>
<body>
    <div class="wrap">
        <header>
            <a href="/" class="logo"><h3>readOnly📖</h3></a>
            <div class="search">
                <input type="text" placeholder="도서를 찾아보세요!" />
                <button>검색</button>
            </div>
            <div id="pageRoute"></div>
        </header>
        <main>
            <div class="main_label">
                <h4>장바구니</h4>
                <a class="removeall">장바구니 비우기</a>
            </div>
            <div class="cartdiv">
                <div class="cart_product">
                </div>
                <div class="pay_div">
                    <div class="borderdiv">
                        <div class="totalpricediv">
                            <h3>총 상품가격</h3>
                            <h3 class="totalprice">0원</h5>
                        </div>
                        <div class="pay_btn">
                            <a class="orderbtn">주문하기</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- <footer>
            dddddd
        </footer> -->
    </div>
    <script src="../frontUtils/jwtUtil.js"></script>
    <script src="../frontUtils/loginStatus.js"></script>
    <script src="cart.js"></script>
</body>
</html>