header a {
	text-decoration: none;
	color: rgb(16, 16, 160);
}

.logo {
	
	/* color: rgb(16, 16, 160);
	font-size: 20px;
	font-style: italic; */
}

header {
	width: 100%;
	height: 75.8px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgb(176, 176, 176);
	background-color: white;

	/* 헤더 상단고정 */
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
}

header h3 {
	width: 200px;
	height: 100%;
}

header img {
	width: 70%;
}

.search-container {
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	border: 2px solid rgb(16, 16, 160);
	border-radius: 15px;
	width: 30rem;
	height: auto;
	padding: 0 10px;
}

#myInput {
	flex: 1;
	border: none;
	padding: 8px;
	font-size: 15px;
	background: transparent;
	outline: none;
}

.search-button {
	background: none;
	border: none;
	color: #1010a0;
	cursor: pointer;
}



#pageRoute {
	display: flex;
	gap: 12px;
	margin-top: 10px;
	margin-right: 20px;
}

#pageRoute:last-child {
	margin-right: 30px;
}

#main-body {
	padding-top: 75.8px;
}
